/*BASE STYLES*/

body {
    color: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif;
}

/*GRID*/

.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/*HEADER*/

header {
    height: 430px;
}

header h1 { 
    color: hsl(115, 32%, 64%);
    font-family: 'Lora', serif;
    font-size: 30px;
    padding: 25px 0 25px 0px;
    text-transform: uppercase;
}

header h1 strong {
    color: black;
}

nav {
    float: right; 
    padding: 40px 0px 40px 0px;
    text-align: right;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: hsl(115, 32%, 64%);
    font-size: 18px;
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header .img {
    width: 100%;
    height: 300px:
}

/*ABOUT*/

#about {
    height: 175px;
    font-weight: bold;
}

#about h2 {
    color: hsl(115, 32%, 64%);
    text-transform: uppercase;
}

/*MENU*/

#menu {
    color: hsl(115, 32%, 64%);
    height: 200px;
    border-top: 2px solid hsl(115, 32%, 64%);
    border-right: 2px solid hsl(115, 32%, 64%);
    border-bottom: 2px solid hsl(115, 32%, 64%);

}

#menu h3 {
    color: black;
    text-transform: uppercase;
}

/*REVIEWS*/

#reviews {
    font-weight: bold;
    height: 200px;
    border-top: 2px solid hsl(115, 32%, 64%);
    border-right: 2px solid hsl(115, 32%, 64%);
    border-bottom: 2px solid hsl(115, 32%, 64%);
    padding: 0 20px;
    
}

#reviews h3 {
    text-transform: uppercase;
}

/*CONTACT*/

#contact {
    font-weight: bold;
    padding-left: 20px;
    height: 200px;
    border-top: 2px solid hsl(115, 32%, 64%);
    border-bottom: 2px solid hsl(115, 32%, 64%);
}

#contact h3 {
    text-transform: uppercase;
}

/*FOOTER*/

footer {
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    height: 100px;
    text-transform: uppercase;
}

footer em {
    color: hsl(115, 32%, 64%);
    text-transform: lowercase;
}
